<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>つぶやき詳細</title>
</head>
<body>
	<form>
		<!-- ページタイトル -->
		<header>
			<h2>Simple Board</h2>
		</header>

		<!-- 画面タイトル -->
		<main>
			<h1>つぶやき詳細</h1>
		</main>

		<!-- つぶやき詳細表示部 -->
			<!-- タイトルヘッダ -->
			<label>タイトル</label>
			<br>
			<input type="text">
			<br>

			<!-- つぶやきヘッダ -->
			<label>つぶやき</label>
			<br>
			<textarea></textarea>
			<br>

		<!-- ボタン -->
		<input type="submit" value="一覧へ戻る">
		<input type="button" value="編集">
		<input type="reset" value="削除">

	</form>
</body>
</html>